
.loader-wrapper {
  height: 300px;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(156, 176, 229, 0.4);
}
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: rgb(121, 139, 187);
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
